
*.out
*.sim
*.pbd
*.pbi
*.dep
*.ewt
*.xcl
*.ewp
*.ewd
*.wsdt
*.eww
assignment01/HelloWorld/Debug/*
assignment01/HelloWorld/settings/*
assignment02/HelloWorld/Debug/*
assignment02/HelloWorld/settings/*
assignment03/Debug/*
assignment03/settings/*
Debug/*
Module2Demo/HelloWorld/Debug/*
Module2Demo/HelloWorld/settings/*
Module2Demo/settings/*
Module2Demo/Debug/*
Module3/settings/*
Module3/Debug/*
settings/*
*.eww
*.dep
assignment01/HelloWorld/HelloWorld.eww
assignment01/HelloWorld/HelloWorld.dep
Module5/settings/Module5.reggroups
Module5/settings/Module5.dnx
Module5/settings/Module5.Debug.cspy.ps1
Module5/settings/Module5.Debug.cspy.bat
Module5/settings/Module5.dbgdt
Module5/settings/Module5.crun
Module5/main.c
Module5/Debug/Obj/Module5.pbw
Module5/Debug/Obj/Module5.pbd.browse
Module5/Debug/Obj/main.o
Module5/Debug/Obj/build.ninja
Module5/Debug/Obj/.ninja_log
Module5/Debug/Obj/.ninja_deps
Module5/Debug/List/Module5.map
Module4/HellowWorld/HelloWorld/src/print.c
Module4/HellowWorld/HelloWorld/src/main.c
Module4/HellowWorld/HelloWorld/src/interrupt.c
Module4/HellowWorld/HelloWorld/src/hw_init.c
Module4/HellowWorld/HelloWorld/settings/HelloWorld.reggroups
Module4/HellowWorld/HelloWorld/settings/HelloWorld.dnx
Module4/HellowWorld/HelloWorld/settings/HelloWorld.Debug.cspy.ps1
Module4/HellowWorld/HelloWorld/settings/HelloWorld.Debug.cspy.bat
Module4/HellowWorld/HelloWorld/settings/HelloWorld.dbgdt
Module4/HellowWorld/HelloWorld/settings/HelloWorld.crun
Module4/HellowWorld/HelloWorld/inc/print.h
Module4/HellowWorld/HelloWorld/inc/nucleoboard.h
Module4/HellowWorld/HelloWorld/inc/main.h
Module4/HellowWorld/HelloWorld/inc/interrupt.h
Module4/HellowWorld/HelloWorld/inc/hw_init.h
Module4/HellowWorld/HelloWorld/Debug/Obj/stm32f4xx_usart.o
Module4/HellowWorld/HelloWorld/Debug/Obj/stm32f4xx_rcc.o
Module4/HellowWorld/HelloWorld/Debug/Obj/stm32f4xx_gpio.o
Module4/HellowWorld/HelloWorld/Debug/Obj/startup_stm32f401xx.o
Module4/HellowWorld/HelloWorld/Debug/Obj/print.o
Module4/HellowWorld/HelloWorld/Debug/Obj/misc.o
Module4/HellowWorld/HelloWorld/Debug/Obj/main.o
Module4/HellowWorld/HelloWorld/Debug/Obj/interrupt.o
Module4/HellowWorld/HelloWorld/Debug/Obj/hw_init.o
Module4/HellowWorld/HelloWorld/Debug/Obj/HelloWorld.pbw
Module4/HellowWorld/HelloWorld/Debug/Obj/HelloWorld.pbd.browse
Module4/HellowWorld/HelloWorld/Debug/Obj/build.ninja
Module4/HellowWorld/HelloWorld/Debug/Obj/.ninja_log
Module4/HellowWorld/HelloWorld/Debug/Obj/.ninja_deps
Module4/HellowWorld/HelloWorld/common/system_stm32f4xx.h
Module4/HellowWorld/HelloWorld/common/stm32f4xx_usart.h
Module4/HellowWorld/HelloWorld/common/stm32f4xx_usart.c
Module4/HellowWorld/HelloWorld/common/stm32f4xx_rcc.h
Module4/HellowWorld/HelloWorld/common/stm32f4xx_rcc.c
Module4/HellowWorld/HelloWorld/common/stm32f4xx_gpio.h
Module4/HellowWorld/HelloWorld/common/stm32f4xx_gpio.c
Module4/HellowWorld/HelloWorld/common/stm32f4xx_conf.h
Module4/HellowWorld/HelloWorld/common/stm32f4xx.h
Module4/HellowWorld/HelloWorld/common/startup_stm32f401xx.s
Module4/HellowWorld/HelloWorld/common/misc.h
Module4/HellowWorld/HelloWorld/common/misc.c
Module4/HellowWorld/HelloWorld/common/core_cmSimd.h
Module4/HellowWorld/HelloWorld/common/core_cmInstr.h
Module4/HellowWorld/HelloWorld/common/core_cmFunc.h
Module4/HellowWorld/HelloWorld/common/core_cm4.h
Module4/HellowWorld/HelloWorld.zip
assignment05/settings/assignment05.reggroups
assignment05/settings/assignment05.dnx
assignment05/settings/assignment05.Debug.cspy.ps1
assignment05/settings/assignment05.Debug.cspy.bat
assignment05/settings/assignment05.crun
assignment05/Debug/Obj/swapCharsAsm.o
assignment05/Debug/Obj/sqrAsm.o
assignment05/Debug/Obj/main.o
assignment05/Debug/Obj/divAsm.o
assignment05/Debug/Obj/build.ninja
assignment05/Debug/Obj/assignment05.pbw
assignment05/Debug/Obj/assignment05.pbd.browse
assignment05/Debug/Obj/aqrAsm.o
assignment05/Debug/Obj/.ninja_log
assignment05/Debug/Obj/.ninja_deps
assignment05/Debug/List/assignment05.map
assignment04/settings/Assignment04.reggroups
assignment04/settings/Assignment04.dnx
assignment04/settings/Assignment04.Debug.cspy.ps1
assignment04/settings/Assignment04.Debug.cspy.bat
assignment04/settings/Assignment04.dbgdt
assignment04/settings/Assignment04.crun
assignment04/Debug/Obj/stack.o
assignment04/Debug/Obj/main.o
assignment04/Debug/Obj/build.ninja
assignment04/Debug/Obj/Assignment04.pbw
assignment04/Debug/Obj/Assignment04.pbd.browse
assignment04/Debug/Obj/.ninja_log
assignment04/Debug/Obj/.ninja_deps
assignment04/Debug/List/Assignment04.map
assignment01/HelloWorld/HelloWorld.eww
assignment01/HelloWorld/HelloWorld.dep
*.eww
*.dep
assignment01/HelloWorld/HelloWorld.eww
assignment01/HelloWorld/HelloWorld.dep
assignment01/HelloWorld/HelloWorld.dep
